---

import Config from "../../config.cjs";

export interface Props {
    title: string;
    description: string;
}
const { title, description } = Astro.props;
const canonicalURL = Astro.url.origin + Astro.url.pathname;

---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>{ title } - { Config.siteTitle }</title>
<meta name="description" content={ description } />
<link rel="canonical" href={ canonicalURL } />
<meta name="generator" content={Astro.generator} />
<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="preconnect" href="https://cdn.jsdelivr.net">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
